$font-family: 'Merriweather-Regular', sans-serif;

$light: #FFFFFF;
$dark: #343030;
$border-light: #E1E1E1;
$dark-brown: #403432;
$footer-text: #555555;

$buttonNormal: #403432;
$buttonHover: #776763;
$buttonDisable: #C1B4B1;
$buttonInCart: #5B3A32;

$inputBorderLight: #E1E1E1;
$inputBorderFocus: #B5B5B5;

$text: #343030;
$textFooter: #555555;

$border: #e1e1e1;